aside{
}
.banner{
    margin: 30px 20px 30px 15px;

    background-color: #cfe9e9;
    border-radius: 8px;
    position: relative;
}
.banner h6{
    position	: absolute;
    top: 15px;
    left: 75px;
    width: 100%;
    font-size: small;
}
.main_hello a{
    text-decoration: none;
    color: #294b6b;
    font-weight: bold;
}
.flex{
    display: flex;
}


.main_page{
    background-color: #CFE9E9;
    margin: 30px 15px 30px 0;
    border-radius: 8px;
}
.main_page img{
    height: 75px;
    width: 75px;


}
.main_page h6{

}
.main_name{
    margin: 15px 0 0 75px;
    padding: 0;
    font-weight: bold;
    border: #3d283e;


}
.main_button{
    background-color: #008a9b;

    margin: 20px;
    text-align: center;
    color: #f0f5ff;
    height: 150px;
    border-radius: 10px;
    padding-top:20px;
    justify-content: space-between;
    width: auto;
}
.main_button_text{
    padding: 0;
    margin: 15px 0 0 0;
}
.main_button_text h6{
    margin: 0;
}
.main_buttons{
    margin: 20px;
    justify-content: center;
    box-shadow:0 1px 3px #23789f;
    border-radius: 5px;
}
.main_hello{
    margin: 20px;
    box-shadow:0 1px 3px #23789f;
    border-radius: 5px;
    padding: 0 20px 20px 20px;
}
.main_last_news{
    padding-top: 20px;
    margin: 20px;
    box-shadow:0 1px 3px #23789f;
    border-radius: 5px;
    width: auto;
}
.news{
    margin: 20px;
    border-radius: 8px;
    background-color: #dff2f6;
    justify-content: center;
    align-items: center;
}
.news_img{
    height: 225px;
    width: 225px;
    overflow: hidden;
    background-size: cover;
    margin: 20px 20px 0 20px;

    border-radius: 8px;
    box-shadow: 0px 1px 3px #c8d0fd;
}
.news_img img{
    height: 100%;
    width: 100%;

    /*background-color: #23789f;
    border: 5px solid #f1f8fe;*/


}
.news_date{
    margin: 5px 20px auto 20px;
    padding-left: 5px;
}
.news_title{
    margin: 5px 20px auto 20px;
    text-align: left;
    padding-left: 5px;
    border-bottom: 3px solid #f1f8fe;
    border-top: 3px solid #f1f8fe;
}
.main_last_news h5{
    border: 2px solid #c8d0fd;

}
.news_title a{
    width: 100%;
    text-decoration: none;
    font-size: medium;
    padding-right:5px;
    color: #3d283e;
    font-weight: bold;
}
.news_text{
    margin: 5px 20px 20px 20px;
    text-align: left;
    padding-left: 5px;
    border-bottom: 3px solid #f1f8fe;
    border-top: 3px solid #f1f8fe;
}
.main_news{
    justify-content: center;
}
.news_text h6{
    width: 100%;
    font-size: medium;
}

.center{
    text-align: center;
}
.right{
    text-align: right;
}
.justify{
    text-align: justify;
}
.bold{
    font-weight: bolder;
}
.col-20{
    width: 20%;

}
.col-15{
     width: 15%;

 }
.col-80{
    width: 80%;
}
.col-1-3{
    width: 33%;
}