
.login * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*body{
    background-image: linear-gradient(to top, #83c8d2 0%, #008a9b 100%);
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    opacity: .95;
} */
.login form {
    width: 450px;
    height: 500px;
    border-radius: 20px;
    margin: 50px auto;
    box-shadow: 0 9px 50px hsl(225, 86%, 8%);
    padding: 2%;
    background-color: #dae9f8;
    border: 10px outset rgba(255, 255, 255, 0.3);
}

.login form .auth-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.login header {
    margin: 10px auto 40px auto;
    text-align: center;
    background-color: transparent;
}

.login header h2 {
    font-size: x-large;
    color: #333333;
}

.login header p {
    letter-spacing: 0.05em;
    font-size: 15px;
    padding-top: 10px;
    color: #5f5f5f;
}


.form-input{
    width: 300px;
    height: 50px;
    margin-top: 10px;
    padding: 15px;

    font-size: 16px;
    color: #5E6472;

    outline: none;
    border: none;

    border-radius: 5px;
    background: #f1f8fe;
    box-shadow: 0 3px 5px #839ea5;
}

.log-in{
    color: #252537;
    font-size: 18px;
    width: 300px;
    margin: 30px auto;
}

.button {
    display: inline-block;
    font-size: 15px;
    color: #333333;
    height: 50px;

    padding: 0 20px;
    background-color: #85d3de;
    border-radius: 5px;

    outline: none;
    border: none;

    text-align: center;
    transition: all 0.2s linear;
    padding: 0;

}


.frgt-pass {
    background: transparent;
    width: 150px;
}

.sign-up {
    width: 150px;
    color: #252537;

}
.buttons{
    width: 300px;
    display: flex;

}
.buttons button:hover {
    transform: translatey(3px);
    animation: ani9 0.4s ease-in-out infinite alternate;
}

.head{
    margin-bottom: 15px;
    color: #333333;
}

.back-button{
    background: transparent;
    color: #333333;
    text-align: start;
    margin-top: -10px;
}