.news-block{
    margin: 20px;
    box-shadow:0 1px 3px #23789f;
    border-radius: 5px;
    padding: 0;
}

.news-name-date{
    display: flex;
    height: 50px;
    background-color: #dff2f6;
    border-bottom: 3px solid white;
    margin:0;
    padding: 0;
    width: 100%;
    border-radius: 5px 5px 0 0;

}
.date{
    width: 10%;
    background: white;
    text-align: center;
    border-radius: 5px 0 0 0;
    padding-top: 9px;
    color: #333333;


}
.news-name{
    width: 90%;
    font-size: medium;
    text-align: left;
    padding: 15px 0 0 15px;
    color: #3d283e;
    font-weight: bold;

}
.date p {
    margin-top: 0;
    margin-bottom: -0.5em;
    font-size: small;
}
.color-p-1{
   text-decoration: underline #f5f5f5;
}
.news-text{
    display: flex;
    padding: 20px 20px 0 20px;
}
.news-image{
    width: 225px;
    height: 225px;
    overflow: hidden;
    background-size: cover;
    margin: 20px 5px 20px 5px;

    border-radius: 8px;
    box-shadow: 0px 1px 3px #c8d0fd;
}
.images{
    justify-content: center;
}
.news-image img{
    height: 100%;
    width: 100%;

    /*background-color: #23789f;
    border: 5px solid #f1f8fe;*/


}